{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}
    <h1>Changer mon mot de passe</h1>

    <div class="user-form">
        {{form_start(form)}}

            <div class="form-group">
                {{ form_row(form.plainPassword) }}
            </div>

            <input class="btn btn-success" type="submit" value="Modifier mon mot de passe">
        {{form_end(form)}}
    </div>

{% endblock %}
