{% extends 'base.html.twig' %}

{% block title %}FORUM | Home{% endblock %}

{% block body %}
<h1>Bienvenue sur le forum</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea rerum amet, reiciendis quas quasi voluptatem tempore dolore unde aliquam ipsum, tenetur sunt in dicta nam consequatur assumenda officiis id beatae illo doloremque porro eveniet cumque! Adipisci sequi totam voluptates repudiandae autem similique, modi rem aliquam culpa, id, perspiciatis quibusdam aut tempore voluptas sint quasi labore quam soluta esse illum? Asperiores?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea rerum amet, reiciendis quas quasi voluptatem tempore dolore unde aliquam ipsum, tenetur sunt in dicta nam consequatur assumenda officiis id beatae illo doloremque porro eveniet cumque! Adipisci sequi totam voluptates repudiandae autem similique, modi rem aliquam culpa, id, perspiciatis quibusdam aut tempore voluptas sint quasi labore quam soluta esse illum? Asperiores?</p>
{% endblock %}
